<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Archive</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{assets/img/favicon.png}" rel="icon">
  <link th:href="@{assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{assets/vendor/aos/aos.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{assets/css/style.css}" rel="stylesheet">
  <!-- Font Awesome -->

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>



</head>

<body>

<!-- ======= Mobile nav toggle button ======= -->
<!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">

  <nav id="navbar" class="navbar nav-menu">
    <ul>
      <li><a th:href="@{/}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Accueil</span></a></li>
      <li><a th:href="@{/dashboard}" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Dashboard</span></a></li>
      <li><a th:href="@{/projet}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Projet</span></a></li>
      <li><a th:href="@{/archive}" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Archive</span></a></li>
      <li><a th:href="@{/a-propos}" class="nav-link scrollto"><i class="bx bx-calendar"></i> <span>A propos</span></a></li>
    </ul>
  </nav><!-- .nav-menu -->

</header><!-- End Header -->


<main id="main">
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Detail de l'archive </h2>
        <h4 class="mb-3"> <strong>Archive : </strong> 🚨 [[${archive.libelle}]] 🚨</h4>

        <div class="row mb-3">
          <form class="col-md-6" th:action="@{/detailArchive}">
            <div class="form-group d-flex">
              <input type="text" name="keyword" th:value="${keyword}" class="form-control" id="keyword" placeholder="Theme projet ..." >
              <button type="submit" class="btn btn-primary" >Recherche</button>
            </div>
          </form>
          <form class="col-md-3" th:action="@{/rechercheprojetecole}">
            <div class="form-group d-flex">
              <select name="ecole" th:value="${ecole}" class="form-control" id="ecole">
                <option value="">Ex : ESI</option>
                <option value="ESI">ESI</option>
                <option value="ESTP">ESTP</option>
                <option value="ESMG">ESMG</option>
                <option value="ESCAE">ESCAE</option>
                <option value="ESPE">ESPE</option>
              </select>
              <button type="submit" class="btn btn-primary" >Ok</button>
            </div>
          </form>

        </div>

        <ul th:if="${archive.projets.size() > 0}" th:each="proje:${archive.projets}" class="list-group list-group-light">
          <li class="list-group-item d-flex justify-content-between align-items-center">

            <div class="d-flex align-items-center">
              <img src="assets/img/role.jpg" alt="" style="width: 45px; height: 45px"
                   class="" />
              <div class="ms-3">
                <p class="fw-bold mb-1" th:text="${proje.getTheme}"></p>
                <p class="text-muted mb-0" th:text="${proje.description}"></p>
              </div>
            </div>

            <span class="badge rounded-pill badge-warning" th:text="${proje.getEtat}"></span>

            <a class="btn btn-link btn-rounded btn-sm" title="Voir plus de detail sur le projet"
               th:href="@{/detailArchiveProjet(id=${proje.idProjet})}" role="button">View</a>

            <a th:if="${proje.rapport.name}" class="btn btn-link btn-rounded btn-sm" title="Telecharger rapport"
               th:href="@{'/files/'+${proje.rapport.name} }" role="button"><i  class='bx bxs-download'></i></a>

          </li>
        </ul>

      </div>

      <div th:unless="${archive.projets.size() > 0}">
        <span>Pas de projet trouvé dans cette archive !!</span>
      </div>

    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <h3>Votre bibliothèque numérique</h3>
    <p>Explorez l'histoire de vos projets avec notre plateforme d'archivage intuitive et sécurisée .</p>
    <div class="social-links">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>INP-HB</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: [license-url] -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
      Designed by <a href="https://bootstrapmade.com/">STIC INFO 3</a>
    </div>
  </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{assets/vendor/purecounter/purecounter_vanilla.js}"></script>
<script th:src="@{assets/vendor/aos/aos.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{assets/vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{assets/vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{assets/vendor/typed.js/typed.umd.js}"></script>
<script th:src="@{assets/vendor/waypoints/noframework.waypoints.js}"></script>
<script th:src="@{assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>
